server:
  forward-headers-strategy: framework

spring:
  profiles:
    active: local
    include:
      - db
      - logging

management:
  endpoints:
    web:
      exposure:
        include: health
      base-path: /
  endpoint:
    health:
      show-details: never
