spring:
  profiles:
    active: local
    include:
      - db
      - oauth2
      - host
      - security
      - logging

logging:
  level:
    org:
      hibernate:
        type:
          descriptor:
            sql:
              BasicBinder: TRACE

management:
  endpoints:
    web:
      exposure:
        include: health
      base-path: /
  endpoint:
    health:
      show-details: never
