spring:
  profiles:
    active: local
    include:
      - db
      - logging
logging:
  level:
    org:
      hibernate:
        type:
          descriptor:
            sql:
              BasicBinder: TRACE
